[app]
port = ""
jwtkey = ""


[database]
driver = ""
db_host = ""
db_user = ""
db_pass = ""
db_name = ""
db_port = ""

[mailjet]
email = ""
publicKey = ""
privatekey = ""


[midtrans]
clientKey = ""
ServerKey = ""